@model int


@if (Model > 0)
{
    <li class="nav-item">
        <a class=" nav-link text-dark " asp-controller="Orders" asp-action="ShoppingCart">
            <i class="fas fa-cart-shopping"></i> @Model
        </a>
    </li>
}