@model Cinema

@{
    ViewData["Title"] = "Update Cinema";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Cinema</h1>
        </p>
        <div class="row">

            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <partial name="PartialViews/CreateEditCinemaPartialView" />

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>

            </div>


        </div>

    </div>

</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('LogoPreview');
            output.src = $("#Logo").val();
        })

        $("#Logo").on("change", function () {
            var output = document.getElementById('LogoPreview');
            output.src = $(this).val();
        })
    </script>
    }
