

<div class="row">
    <div class="col-md-6 offset-3 text-center">

        <h2> Your are not to access this page </h2>
        <p> click the button below to back home </p>
        <hr />

        <p><a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success p-2 "> Home page</a> </p>
    </div>
</div>