@inject UserManager<ApplicationUser> UserManager ;


@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-success my-2  mx-2 my-sm-0" asp-controller="Account" asp-action="Login">  <i class="fa-solid fa-right-to-bracket"> </i> Log in</a>
    <span style="padding:5px ;"></span>

    <a class="btn btn-outline-primary my-2  mx-2 my-sm-0" asp-controller="Account" asp-action="Register"> <i class="fa-solid fa-user-plus"> </i> Register </a>
}
else
{

    <div class="dropdown ">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-image-portrait"></i> Hello @UserManager.GetUserName(User).Split("@")[0]
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                    <i class="fa-solid fa-list"></i> Orders
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                   <i class="fa-solid fa-users"></i> Users 
                </a>
            </li>
            }
        </ul>
    </div>

    <span style="padding:5px ;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-outline-danger my-2 my-sm-0">
            <i class="fa-solid fa-right-from-bracket">  </i>  Log out
        </button>
    </form>

}